* {
    margin: 0;
    padding: 0;
    box-sizing: border-bos;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}

a.active {
    color: rgba(0, 0, 0, 0.9);
}

/* .card-collection {
    display: grid !important;
    grid-template-columns: repeat(3, minmax(250px, 1fr)) !important;
    gap: 1rem;
} */